.search {
    height: 3vw;
    background-color: #9FBFB9;
    color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 1.5rem;
    gap: 1rem;
}

.inputCities {
    width: 40%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.inputCities::placeholder {
    color: #9e9ea7;
}

.inputCities:focus, .inputCities:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}



.cardContainer {
    min-height: 68vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    gap: 2vw;
    padding-top: 1rem ;
    padding-bottom: 1rem;
    background-color: #F2F2F2;
    

}

.Card {
    width: 40vw;
    height: 20vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.Card:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
}

h5 {
    font-size: 6vw !important;
    font-weight: bolder;
    font-family: 'Caveat', cursive !important;
}

.cardContent {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #2859544f;
    color: #F2F2F2;
    text-shadow: 2px 2px black;
    padding: 0 !important;
}

.cardContent:hover {
    background-color: transparent;
    color: #A62D43;
    text-shadow: 2px 2px  #F2F2F2;
    padding: 0 !important;
}



@media (max-width: 1200px) {
    .search {
        height: 6vw;
    }
}


@media (max-width: 786px) {
    .search {
        height: 10vw;
    }
}


@media (max-width: 576px) {
    .search {
        height: 15vw;
    }
    .Card {
        width: 90%;
        height: 40vw;
    }
    h5 {
        font-size: 15vw !important;
    }
}