.commentsContainer{
    background-color: #f2f2f2dc;
    border-radius: 20px;
    width: 90%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    padding: 1rem;
}

.containerComments, .divCommentComponent{
    width: 90%;
}
.divCommentComponent{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.editAndDelete {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: auto;
}
.commentBox{
    background-color: #ffd1d3;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .8rem;
    height: 5vh;
    border-radius: 20px;
}

.commentBoxWithBtn{
    background-color: #ffd1d3;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: .8rem;
    height: 5vh;
    border-radius: 20px;
}

.comment{
    display: flex;
    height: 60%;
    width: 80%;
    align-items: center;
    gap: 1rem;
}
.commentWithButtons{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
}

textarea{
    resize: none
}


.userNameComment{
    font-family: 'Caveat', cursive;
    font-size: 3vh;
    font-weight: bold;
}

.callToActionComments{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 5vh !important;
    color: #A62D43;
}

.callToActionComments:hover{
    color: #e33757;
    
}