* {
    padding: 0;
    margin: 0;
}

.underlineNone {
    text-decoration: none;
}


/* colores:

primario ----> #A62D43 (fuccia)
secundario ----> #9FBFB9 (verde claro)
tercer ----> #285954 (verde oscuro)

base ---> #F2F2F2  */