* {
    padding: 0;
    margin: 0;
}

.underlineNone {
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


/* color:

primary ----> #A62D43 (fuccia)
secondary ----> #9FBFB9 (verde claro)
third ----> #285954 (verde oscuro)

base ---> #F2F2F2  */